<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Search</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="forms">
    <section class="restaurant-add">
    <h1 class="main-header">New Restaurant? Add it here! </h1>
    
    <form action="/addRestaurant" class="add-restaurant" method="post">
        <div class="res-name">
        <label for="restaurant-name">Restaurant Name</label>
        <input type="text" class="restaurant-name" name="restaurantName" placeholder="Name" required>
            </div>
        <div class="res-loc">
        <label for="restaurant-location">Location</label>
        <input type="text" class="restaurant-location" name="restaurantLocation" placeholder="Restaurant Location" required>
            </div>
        <div class="res-type">
            <label for="restaurantType">Type</label>
            <input type="text" class="restaurant-type" name="restaurantType" placeholder="Type of food" required>
                 </div>
        <div class="res-type">
            <label for="restaurantWebsite">Website</label>
            <input type="text" class="restaurant-Website" name="restaurantWebsite" placeholder="URL" required>
                 </div>

                 <button type="submit" class="resButton" value="Submit">Submit</button>
            <!-- <input type="submit" class="resButton" value="Submit"> -->
        
    </form>
</section>
<section class="showItems">
    <section class="heading-section">
        <h1 class="showHeader">Restaurants</h1>
        <p class="random-item">Random Restaurant</p>
        <a href="#" id="toggle-display" class="toggle-display"> Show Items +</a>
    </section>
    <section id="show-items" class="">
    <ul class="items">
            <% data.items.forEach((data)=>{%>
                <li>
                <%= data.name %> - <%= data.food%> - <%= data.location %> - <a href="<%=data.website%>" target="_blank">Website</a> %>
                <form action="/delete-item" method="post">   
                <button class="delete-item" name="deleteBtn" value="<%= data._id %>">Delete</button>
            </form>
                </li>
            <% }) %>
        </ul>
    </section>
</section>
<div class="modal-container">
<div class="modal hidden">
    <h2>Unsure? Why not try this place?</h2>
    <h2 id="random-restaurant"><%= data.random.name %></h2>
    <h3>Check Out The Website!</h3>
    <h2><a href="<%=data.random.website%>" target="_blank"><%= data.random.name%></a></h2>
</div>
</div>
</main>

<script src="script.js"></script>

</body>
</html>